@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Pallette */
  --brand-blue: #090d91;
  --brand-yellow: #ffff00;
  --brand-white: #ffffff;
  --brand-black: #000000;

  /* Button Styles */
  --button-border-primary: 1px solid var(--brand-blue);
  --button-hover-primary: #4044CD;

  --brand-font: "Arimo", sans-serif;
}

/* Typography */

/* Grid System */
.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

/* Content */
/* main {
  height: 100vh;
} */


.btn-primary {
  background-color: var(--brand-blue);
  color: var(--brand-white);
  border: solid 1.5px var(--brand-blue);
  border-radius: 10px;
  padding: .85rem 1.5rem;
  font-size: 1.1rem;
  transition: all 350ms;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--brand-font);
}

.btn-primary:hover{
  background-color: var( --button-hover-primary);
}

.btn-link-secondary {
  background-color: var(--brand-white);
  color: var(--brand-black);
  border-radius: 40px;
  padding: .5rem 2.5rem;
  font-size: 1.1rem;
  transition: all 350ms;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--brand-font);
}

.btn-link-secondary:hover{
  color: var(--brand-blue);
  background-color: var(--brand-yellow);
}

.btn-link{
  color: var(--brand-blue);
  font-size: 1.3rem;
  transition: all 350ms;
}

.btn-link:hover,.btn-link-white:hover{
  border-bottom: 2px solid white;
 
}

.btn-link-white{
  color: var(--brand-white);
  font-size: 1.3rem;
  transition: all 350ms;
}

.btn-outlined {
  background-color: var(--brand-white);
  color:  var(--brand-blue);
  border: solid 1.5px var(--brand-blue);
  border-radius: 10px;
  padding: .85rem 1.5rem;
  font-size: 1.1rem;
  transition: all 350ms;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--brand-font);
}

.btn-outlined:hover{
  background-color: var(--brand-blue);
  color: var(--brand-white);
}