.footerContainer {
    height: 40vh;
    background-color: var(--brand-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerGridWrapper {
    display: flex;
    flex: 0 1;
    max-width: 980px;
    margin: 3rem auto;
    width: 100%;
}

.footerGridWrapper div{
    width: 50%;
}

.footerGridWrapper p{
    color: var(--brand-white);
}

.footerGridWrapper h1{
    color: var(--brand-white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footerGridWrapper li {
    line-height: 40px;
}

.footerGridWrapper ul {
    display: flex;
    flex-direction: column;
}

.copyrightText {
    color: var(--brand-white);
    margin: .75rem 0;
}

@media screen and (max-width: 600px) {
    .footerGridWrapper {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin: 3rem 0;
       
    }

    .footerContainer{
        height: auto;
    }

    .footerGridWrapper div li a{
        font-size: 1rem;
    }

    .footerGridWrapper ul {
        margin-top: 0;
    }
}