.navContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.donate {
    margin-left: 4rem;
    background-color: var(--brand-white);
    color: var(--brand-blue);
    padding: .5rem 2rem;
    border-radius: 25px;
}

.navWrapper{
    display: none;
}

.mobileNavWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    height: 8vh;
    justify-content: space-between;
    z-index: 2;
    padding: 1rem;
    
}

.mobileNavWrapper button {
    position: relative;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    z-index: 2;
}

.open{
    height: 100vh;
    background-image: linear-gradient(to left, rgba(2, 9, 82, 0.93), rgba(2, 9, 82, 0.93)), url("/pattern_circles-8_1_3_0-0_20_1__ffffff_805ad5 (1).jpg");
    background-size: cover;
    animation: expandMobileNav 450ms ease-in-out;
}

.close {
    z-index: 2;
    height: 8vh;
    background-color: var( --brand-light-blue);
    animation: collapseMobileNav 450ms ease-in-out;
}

.mobileNavLinkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.mobileNavLinkWrapper li {
    list-style-type: none;
    
}

.mobileNavLinkWrapper a {
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    margin: 1rem 0;
    color: #fff;
    animation: fadeIn 450ms ease-in-out; 
}

.navLogo {
    position: relative;
    top: 1rem;
}

@keyframes expandMobileNav {
    from {
        height: 8vh;
    }
    to {
        height: 100vh;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes collapseMobileNav {
    from {
        height: auto;
    }
    to {
        height: 8vh;
    }
}

@media screen and (min-width: 740px) {
    .mobileNavWrapper, .open, .close {
        display: none;
    }

    .mobileNavContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: var(--brand-light-blue);
    }

    .donate {
        margin-left: 4rem;
        background-color: var(--brand-white);
        color: var(--brand-blue);
    }
    
    .navContainer {
        height: auto;
    }

    .navWrapper {
        display: flex;
        width: auto;
        align-items: center;
        background-color: var(--brand-light-blue);
        justify-content: flex-start;
        z-index: 2;
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
    }

    .navWrapper ul {
        display: flex;
        align-items: center;
    }

    .navLink {
        text-decoration: none;
        color: var(--brand-white);
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    .navWrapper li {
        list-style-type: none;
        margin: 0 1rem;
    }

}

