.container {
    background-color: var(--brand-blue);
}

.navWrapper {
    display: flex;
    max-width: 980px;
    width: 100%;
    justify-content: space-between;
    color: var(--brand-white);
    align-items: center;
    height: 6rem;
    margin: 0 auto;
}

.navWrapper ul {
    display: flex;
}

.navWrapper ul li{
    margin: 0 1rem;
}

/* .navWrapperMobile {
    display: none;
}

.mobileNavLinks {
    display: none;
} */

.mobileNavWrapper {
    display: none;
}



@media screen and (max-width: 600px) {
    .navWrapper {
        display: none;
    }

    .copyrightText {
        margin-top: 2rem;
    }

    .navContainerMobile {
        background-color: var(--brand-blue);
        color: var(--brand-white);
        padding: 2rem 0;
        transition: all 350ms;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
    }

    .mobileFooter {
        height: auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .mobileFooter li {
        font-size: .75rem;
    }

    .mobileNavLinks {
        height: 88vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: drawer 350ms ease-in-out;
    }

    .navContainerMobile ul li {
        display: flex;
        
    }

    .mobileLinkList li a {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .navContainerMobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }
    .mobileNavWrapper {
        padding: 0 2rem;
        display:flex;
        justify-content: space-between;
        text-align: center;
    }

    .mobileNavWrapper svg {
        font-size: 2rem;
    }

    .hide {
        animation: close 350ms ease-in-out;
    }

    .hide ul {
        display: none;
        
        animation: hideLinks 350ms ease-in-out;
    }

    @keyframes drawer {
        from {
            height: 6rem;
        }

        to {
            height: 100vh;
        }
    }

    @keyframes close {
        from {
            height: 100vh;
            
        }

        to {
            height: 6rem
        }
    }

    @keyframes hideLinks {
        from {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        to {
            display: none;
        }
    }

    

    .show {
        display: block;
    }
  }

